/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
.ftpconfig
selenium.php
composer.lock

# private files
/config/app.php
/config/cms.php
/config/database.php
/config/mail.php

# for netbeans
nbproject

# for intellij
.idea

