<div class="grid-x grid-padding-x">
  <div class="large-8 medium-8 cell">
    <h5>Here&rsquo;s your basic grid:</h5>

    <!-- Grid Example -->
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <div class="primary callout">
          <p>
            <strong>This is a twelve cell section in a grid-x.</strong>
            Each of these includes a <pre><code>div.callout</code></pre> element so you can see where the cell are&mdash;it&rsquo;s not required at all for the grid.
          </p>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <p>Six cell</p>
        </div>
      </div>
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <p>Six cell</p>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-4 medium-4 small-4 cell">
        <div class="primary callout">
          <p>Four cell</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 cell">
        <div class="primary callout">
          <p>Four cell</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 cell">
        <div class="primary callout">
          <p>Four cell</p>
        </div>
      </div>
    </div>

    <hr>

    <h5>We bet you&rsquo;ll need a form somewhere:</h5>
    <form>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <label>Input Label</label>
          <input type="text"
                 placeholder="large-12.cell">
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-4 medium-4 cell">
          <label>Input Label</label>
          <input type="text"
                 placeholder="large-4.cell">
        </div>
        <div class="large-4 medium-4 cell">
          <label>Input Label</label>
          <input type="text"
                 placeholder="large-4.cell">
        </div>
        <div class="large-4 medium-4 cell">
          <div class="grid-x">
            <label>Input Label</label>
            <div class="input-group">
              <input class="input-group-field"
                     type="text"
                     placeholder="small-9.cell">
              <span class="input-group-label">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <label>Select Box</label>
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 cell">
          <label>Choose Your Favorite</label>
          <input id="pokemonRed"
                 type="radio"
                 name="pokemon"
                 value="Red"><label for="pokemonRed">Radio 1</label>
          <input id="pokemonBlue"
                 type="radio"
                 name="pokemon"
                 value="Blue"><label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 cell">
          <label>Check these out</label>
          <input id="checkbox1"
                 type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2"
                 type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.cell"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="large-4 medium-4 cell">
    <h5>Try one of these buttons:</h5>
    <p>
      <a class="button"
         href="#">Simple Button</a><br>
      <a class="success button"
         href="#">Success Btn</a><br>
      <a class="alert button"
         href="#">Alert Btn</a><br>
      <a class="secondary button"
         href="#">Secondary Btn</a>
    </p>
    <div class="callout">
      <h5>So many components, girl!</h5>
      <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
      <a class="small button"
         href="//foundation.zurb.com/sites/docs/"
         target="_blank">Go to Foundation Docs</a>
    </div>
  </div>
</div>
